@import "tailwindcss";

/* 🌿 Theme */
:root {
  --color-bg: ##ece8dd; /* main background (cream) */
  --color-surface: #ffffff; /* cards */

  --color-surface-soft: #f7f3eb; /* NEW: soft beige layer */

  --color-primary: #593924;
  --color-secondary: #74572d;

  --color-accent: #9f9c97;
  --color-border: #d8d1c0;

  --color-text: #2b2b2b;
  --color-text-muted: #6b6b6b;

  --color-accent-orange: #c47a2c;
  --color-accent-orange-hover: #a86422;
}

/* Global */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Roboto", system-ui, sans-serif;
}

/* Buttons */
.btn-primary {
  background: var(--color-accent-orange);
  color: white;
  border-radius: 12px;
  padding: 10px 16px;
  font-weight: 500;
  transition: 0.2s;
}

.btn-primary:hover {
  background: var(--color-accent-orange-hover);
}

.btn-secondary {
  background: var(--color-surface);
  color: var(--color-primary);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  padding: 10px 16px;
  font-weight: 600;
}

.btn-secondary:hover {
  background: var(--color-surface-soft);
}

/* Cards */
.card-base {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(6px);
  border-radius: 16px;
  border: 1px solid var(--color-border);
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
}

.fade-up-delay-1 {
  animation-delay: 0.15s;
}

.fade-up-delay-2 {
  animation-delay: 0.3s;
}

.fade-up-delay-3 {
  animation-delay: 0.45s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
